outreach/workflow.json
{
  "name": "SCU Schedule Helper Outreach",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const emails = [];\nfor (const item of $input.all()) {\n  if (item.json.email) {\n    emails.push(item.json.email);\n  }\n}\nreturn emails.map(email => ({ json: { email } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "80a557cd-4a65-4e7c-ac04-f807d9347dbb",
      "name": "Extract emails"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    \"email\": \"swdean@scu.edu\"\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        240
      ],
      "id": "55bb7dab-329b-4311-82f8-9d9f5c37c3ab",
      "name": "Test emails"
    },
    {
      "parameters": {
        "isBodyHtml": true,
        "subject": "Updates to SCU Schedule Helper",
        "body": "Hey! Here's a test email from SCU Schedule Helper.",
        "fromEmail": "=\"Stevie\" <stevie@scu-schedule-helper.me>",
        "toAddresses": [
          "={{ $json.email }}"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsSes",
      "typeVersion": 1,
      "position": [
        384,
        240
      ],
      "id": "90a96d34-54db-4634-ba21-7e35aefb8304",
      "name": "Test send",
      "credentials": {
        "aws": {
          "id": "I30Aj9zmbfbseBot",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "subject": "\"SCU Schedule Helper\" <scuschedulehelper@gmail.com>",
        "fromEmail": "scuschedulehelper@gmail.com",
        "toAddresses": [
          "={{ $json.email }}"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsSes",
      "typeVersion": 1,
      "position": [
        640,
        0
      ],
      "id": "5a7babb2-9312-437f-b681-f792b72958ee",
      "name": "Send email",
      "credentials": {
        "aws": {
          "id": "I30Aj9zmbfbseBot",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableName": "SCU-Schedule-Helper",
        "scan": true,
        "limit": null,
        "options": {}
      },
      "type": "n8n-nodes-base.awsDynamoDb",
      "typeVersion": 1,
      "position": [
        192,
        0
      ],
      "id": "c23fc93c-9029-47cf-af3e-2d74c55b504d",
      "name": "Get users",
      "credentials": {
        "aws": {
          "id": "I30Aj9zmbfbseBot",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "80cf4f59-92f1-48af-9972-7dbc93c05b48",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Test emails": {
      "main": [
        [
          {
            "node": "Test send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get users": {
      "main": [
        [
          {
            "node": "Extract emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a7436706-ae80-4783-834d-80b3e79fccf3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80ad25ce9c4e75cdd644e81e8d1a41aa9f5860e54748b0fe0f8c6a6b3134087e"
  },
  "id": "6t71PMMcEyeTBNoN",
  "tags": []
}